<!DOCTYPE html>

<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - Weather App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% if g.city %}
    <nav>
        <h1><a href="{{ url_for('main.clear') }}" class="titulo">Weather App</a></h1>
        <ul>
            <li><span>{{ g.city['name'] }}</span></li>
            <li>
                <form action="{{ url_for('main.search') }}" method="POST" class="search-form">
                    <input type="text" name="city" placeholder="Search city..." required>
                    <button type="submit">Search</button>
                </form>
            </li>
        </ul>
    </nav>
    {% endif %}

    <section class="content">
        {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
        {% endfor %}

        {% block content %}{% endblock %}
    </section>
</body>
</html>
